/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
    background-color: rgba(255, 234, 166, 0.466);

}
div.container{
display: flex;
flex-direction: row-reverse;
justify-content:space-around;
align-items: center;
 min-height: 95vh;
}
.logo_div{
    width: 40%;
    background-color: white;
    padding: 15rem 0rem;
   
    
}
div.main{
    width: 60%;
    display: flex;
    justify-content: center;
}
div.main2{
background-color: rgba(0, 0, 0, 0.055); 
width: 300px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
font-family: raleway;
margin-top: 20px;
}
input[type=text],input[type=password]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}


input[type=button]{
font-size: 16px;
background-color: rgba(173, 162, 125, 0.466);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffdb77 100%);
}